.main-container {
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}

h1 {
    color: rgb(25, 207, 119);
    text-align:center;
}
h2 {
    text-align: center;
}
.Resume {
    text-align: center;
    color: rgb(102, 94, 120);
}
.Classmates {
    color: rgb(123, 123, 97);
}
.photo { 
   width: 65%;
   margin: 0 auto;
   
}
.photo {
    margin: 0 auto;
    width: 50%;
}
.funn-facts {
    width: 30%;
   margin: 0 auto;
}
.navbar{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    background-color:rgb(191, 222, 216);

    margin-bottom: 50px;

}
.navbar li{
    float: left;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    font-weight: 300px;
    padding: 25px 30px;
    
}